/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.card-show-user {
    @apply sm:col-start-2 sm:col-start-2 sm:col-span-5 col-span-12;
}

.card-show-other {
    @apply sm:col-start-3 sm:col-start-3 sm:col-span-5 col-span-12;
}
